.venv/
__pycache__/
*.py[cod]
*.so
*.log

.idea/
.vscode/

models/*
!models/.gitkeep

results/*
!results/.gitkeep

.DS_Store

# py5cheSim generated output
simulator/Figures/
simulator/Logs/
simulator/Statistics/
